.card {
  background-color: #060a45;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 330px;
  height: 400px;
  color: whitesmoke;

  .image-container {
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
    &:hover img {
      transform: scale(1.05);
    }
  }
  .content {
    padding: 1rem;
    h2 {
      font-size: 1.5rem;
      margin: 0 0 0.5rem 0;
    }
    p {
      font-size: 1rem;
      color: #ccc;
    }
  }
}
